.App {
  text-align: center;
}
li {
  list-style: auto;
}

li span {
  cursor: pointer;
  float: right;
}

#ul-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  float: right;
}

.container {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  margin: 0 30px;
}

.text {
  margin: 0 30px;
}
